@charset "utf-8";
body{
	background-color: white;
	margin:0;
	padding:0;
	font-size: 13px;
	width:1051px;
	margin:0 auto;
	font-family:"微软雅黑","Terminal","Times New Roman",Georgia,Serif;
}
button{
	cursor:pointer;
}
button:hover{
	background-color:blue;
}
a{
	text-decoration: none;
}
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.header{
	height:40px;
	width:100%;
	background-color:#F5F5F5;
	line-height: 40px;
}
.header span:hover{
	cursor: pointer;
}
.nav{
	position: relative;
	height:30px;
	line-height: 30px;
	color:white;
	padding-left: 10px;
	width:100%;
	background-color:#1E8DBF;
}
#addList{
	width:98%;
	margin:0 auto;
	border:solid 1px #DDDDDD;
	border-bottom:none;
	border-left:none;
}
.returnB{
	background-color:#1E8DBF; 
	height: 28px;
	width:82px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	color:white;
	margin:10px;
	clear: both;
	display: block;
}
.lists{
	height: 100%;
	width:49%;
	line-height: 28px;
	float: left;
}
.userKey{
	font-weight: bold;
	font-size: 14px;
	width:130px;
	height: 100%;
	text-align: center;
	background-color:#F5F5F5;
	cursor: default;
	float: left;
	border-left:solid 1px #DDDDDD;
	border-right:solid 1px #DDDDDD;
}
.userValue{
	float:left;
	margin:0 10px;
	height: 100%;
	overflow: hidden;
}
.listsBox{
	width:100%;
	height: 29px;
	border-bottom:1px solid #DDDDDD;
}
.areaInput{
	height: 106px;
	line-height: 106px;
}
.areaInput .lists{
	height: 100%;
	width:80%;
}
.memInfo{
	height: 100%;
}
.memberGB{
	width: 80%
}
#addLFooter{
	height:36px;
	line-height: 36px;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
	background-color:#FDF9E3;
	border-left:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
.addLFooterB{
	background-color: #0E7FB0;
	border:none;
	border-radius: 5px;
	height: 26px;
	width:56px;
	color:white;
}
#memberAB{
	position: relative;
	height: 100%;
	width:72px;
	display: block;
	float: left;
}
#memberAB img{
	position: absolute;
	right: 0px;
	top:0px;
}
.memberA{
	display: block;
	background-color:white;
	color:#CF0301;
	height: 100%;
	width: 100%;
	text-align: center;
}
.myT{
	display: block;
	width: 100px;
	height: 100%;
	text-align: center;
	float:left;
}
.myT:hover,.MM:hover{
	color:#CF0301;
}
.MM{
	cursor: pointer;
}