<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>New runPlan</title>
    <link rel="stylesheet" href="css/runPlanAdd.css">
</head>
<body>
    <form method="post" action="#">
        <div class="runPlanAdd">

            <div class="addTitle">
                标题：<input type="text" class="addTitleDemo" id="addTitle" name="runPlanItemName">;
            </div>


            <div class="addDays">
                天数：<input type="text" class="addDaysDemo" id="addDays" name="runPlanDay">;
            </div>


            <div class="addDescription">
                描述：<textarea class="runPlanAddDescriptionDemo" id="runPlanAddDescription" name="runPlanItemContent" style="width:590px;height:140px;"></textarea>
            </div>

            <button>保存</button>
        </div>
    </form>
</body>
</html>