body{width:1150px;height:572px;font-family:"微软雅黑","Terminal","Times New Roman",Georgia,Serif}
.clearbox{clear:both;}

/*大框*/
.runPlan{margin:50px 50px;border:1px #ddddde solid;}
/*框子顶部*/
.runPlanTitle,.runPlanDays,.runPlanDescription,.runPlanOperation{float:left;width:150px;text-align:center;border-bottom:1px #ddddde solid;border-right:1px #ddddde solid;font-size:14px;color:white;background:#1e8dbf;line-height:30px;}

/*框子内容*/
.runPanTitleDemo,.runPlanDaysDemo,.runPlanDescriptionDetail,.runPlanBtns{float:left;width:150px;text-align:center;border-bottom:1px #ddddde solid;border-right:1px #ddddde solid;font-size:14px;height:150px;}
.runPanTitleDemo,.runPlanDaysDemo,.runPlanBtns{line-height:150px;}
.runPlanDescriptionDetail{text-align:left;}

.runPlanDetail:nth-child(2n){background:#efefef;}
.runPlanDetail:hover{background:#f4fefc;}
/*input输入框*/
.runPlanAddTitle,.runPlanAddDay,.runPlanAddDescription,.runPlanAddOperation{float:left;width:150px;text-align:center;border-right:1px #ddddde solid;font-size:14px;height:70px;}
.runPlanAdd input{width:120px;margin-top:18px;height:30px;}
.runPlanAdd textarea{width:560px;height:60px;margin-top:2px;}
#runPlanAddBtn,#updataBtn,#deleteBtn{width:56px;height:28px;background:#1e8dbf;color:white;border:none;border-radius:4px;}
.description{width:594px;}


