<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViewRunPlan</title>
    <link rel="stylesheet" href="css/runPlan.css">
    <script type="text/javascript" src="../../../js/jquery-2.2.3.min.js"></script>
    <script src="js/runPlan.js"></script>
</head>
<body>
    <div id="runPlan">
        <div class="runPlanTop">
            <div class="runPlanTitle"><b>标题</b></div>
            <div class="runPlanDays"><b>天数</b></div>
            <div class="runPlanDescription description"><b>描述</b></div>
            <div class="runPlanOperation"><b>操作</b></div>
            <div class="clearbox"></div>
        </div>

       <!--<form method="post" action="#" id="hidenForm">
            <div class="runPlanDetail">
                <div class="runPanTitleDemo" name="runPlanItemName" class="titles">标题1</div>
                <div class="runPlanDaysDemo" name="runPlanDay">5天</div>
                <div class="runPlanDescriptionDetail description" name="runPlanItemName" >xxxxxxxxxxxxxxxx</div>

                <div class="runPlanBtns">
                    <input type="button" class="bbt" id="updataBtn"  value="修改"/>
                    <input type="button"  class="bbt" id="deleteBtn"  value="删除" onclick="del(this.parentNode.parentNode)" />
                </div>
            </div>
        </form> -->

    </div>

</body>
</html>