@charset "utf-8";
body{
	background-color: white;
	margin:0;
	padding:0;
	font-size: 13px;
	width:1051px;
	margin:0 auto;
	font-family:"微软雅黑","Terminal","Times New Roman",Georgia,Serif;
	text-align: center;
	background-color: #F5F5F5;
}
*{
	transition: all 1s;
}
.input1,.input2,.input3{
	border:none;
	outline: none;
	background-color:#EBBAB2;
	height: 20px;
	border-radius: 5px;
	width:55px;
	font-size: 15px;
	padding: 5px;
	margin:10px;
}
.input3{
	height:30px;
	font-size: 17px;
}
.stageBox{
	margin:10px;
}
.bbb{
	border:none;
	background-color:#1E8DBF;
	cursor: pointer;
	color:white;
	font-size: 14px;
	padding: 10px;
	margin:10px;
	height: 50px;
	width:50px;
	border-radius: 30px;
	outline: none;
}
#stageName{
	outline: none;
	border:none;
	border-radius: 5px;
	background-color:#EBBAB2;
	height: 20px;
	padding:8px;
}
#myCanvas{
	background-color:#EBBAB2;
	margin:15px;
}
#stageStrip{
	height:300px;
	margin:20px;
	position: relative;
	display: none;
}
.x0{
	position: absolute;
	width: 10px;
	height: 15px;
	line-height: 15px;
}
#timeX{
	top:240px;
	right:130px;
}
#rateY{
	top:20px;
	left:55px;
}
#rateDegree{
	position: absolute;
	height: 200px;
	width: 10px;
	top:19px;
	left:93px;
}
#timeDegree{
	position: absolute;
	height: 10px;
	width: 820px;
	top:229px;
	right:85px;
}
.dd,#ddd{
	height:18px;
	width: 3px;
	border:solid 1px green;
	background-color:silver;
}
.bb,#bbb{
	width:18px;
	height: 3px;
	border:solid 1px green;
	background-color:silver;
	float:left;
	vertical-align: middle;
}
#ddd,#bbb{
	position: relative;
}
.bbbo{
	position: absolute;
	left:20px;
	top:-7px;
}
.dddo{
	position: absolute;
	left:5px;
	top:0px;
}
#sb{
	padding: 10px;
	margin:10px;
	height: 70px;
	width:70px;
	border-radius: 40px;
	font-size: 18px;
}
.fB{
	border:none;
	border-radius: 15px;
	outline: none;
	height:30px;
	width:30px;
	padding:0;
	cursor: pointer;
	background-color: #1E8DBF;
	color:white;
}
#heartRangeColorBox{
	position: fixed;
	top:20px;
	left:40px;
}

