<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="zouzou">
	<link rel="stylesheet" type="text/css" href="sportPlan.css">
	<title>sportPlan</title>
</head>
<body>
	<div id="titleB"><div id="titleBS">计划管理</div></div>

	<div id="navMBB">
		<div id="navM">
			<div class="navMm navMm1">计划管理</div>
			<div class="navMm">&gt;&gt;</div>
			<div class="navMm">运动计划</div>
		</div>
	</div>
	
	<div id="sectionTriger">

		<div class="trigers">一般跑步训练计划
			<div class="trigersPull">
				<div class="trigersPM">查看计划</div>
				<div class="trigersPM">新建计划</div>
			</div>
		</div>




		<div class="trigers" id="trigersCommonH">一般心率训练计划
			<div class="trigersPull" id="trigersCommonHM">
				<div class="trigersPM">查看计划</div>
				<div class="trigersPM" id="newHeartP">新建计划</div>
			</div>
		</div>


		<div class="trigers trainerTrigers">针对性跑步训练计划</div>
		<div class="trigers trainerTrigers">针对性心率训练计划</div>
	</div>
	<iframe src="" id="sportPlanIframe">
		

	</iframe>




	<script type="text/javascript" src="sportPlan.js"></script>
</body>
</html>